@font-face {
  font-family: Inter;
  /* Имя шрифта */
  src: url(../fonts/Inter-SemiBold.ttf);
  /* Путь к файлу со шрифтом */
  font-weight: 500;
}
@font-face {
  font-family: Rubik;
  /* Имя шрифта */
  src: url(../fonts/Rubik-Regular.ttf);
  /* Путь к файлу со шрифтом */
  font-weight: bold;
}
@font-face {
  font-family: Rubik-Medium;
  /* Имя шрифта */
  src: url(../fonts/Rubik-Medium.ttf);
  /* Путь к файлу со шрифтом */
  font-weight: 900;
}
@font-face {
  font-family: Rubik-Bold;
  /* Имя шрифта */
  src: url(../fonts/Rubik-Bold.ttf);
  /* Путь к файлу со шрифтом */
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
b {
  font-family: Rubik-Bold;
}
img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img.bg_img {
  z-index: 2;
  position: absolute;
}
.wrapper {
  width: 83.333%;
  margin: 0 auto;
  position: relative;
}
a {
  transition: 0.5s;
  color: white;
  text-decoration: none;
}
a:hover {
  color: #F9AA4B;
}
button {
  border-radius: 32px;
  border: none;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 65px;
  background-color: #3671E9;
  color: white;
  font-family: Rubik-Medium;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  background-color: #154cbe;
}
header {
  width: 100%;
  background: #0D0D2B;
  padding: 70px 0px 0px;
}
header img.bg_img {
  position: absolute;
}
header img.bg_img.right_line {
  right: 0;
  top: 60%;
}
header img.bg_img.left_line {
  right: 10%;
  top: 40%;
}
header .wrapper .top_panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}
header .wrapper .top_panel .logo {
  display: flex;
  align-items: center;
}
header .wrapper .top_panel .logo object {
  width: 55px;
  height: 55px;
  margin-right: 20px;
}
header .wrapper .top_panel .logo p {
  font-size: 20px;
  letter-spacing: 8px;
  color: white;
  text-transform: uppercase;
  font-family: Inter;
}
header .wrapper .top_panel nav {
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .wrapper .top_panel nav a {
  font-size: 16px;
  font-family: Rubik;
  text-transform: capitalize;
}
header .wrapper .header_main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .wrapper .header_main .info {
  width: 45%;
}
header .wrapper .header_main .info h2 {
  font-family: Rubik-Bold;
  font-size: 4vw;
  color: white;
  line-height: 5vw;
  margin-bottom: 50px;
}
header .wrapper .header_main .info p {
  margin-top: 20px;
  max-width: 435px;
  font-family: Rubik;
  font-size: 1.05vw;
  color: white;
  line-height: 28px;
  margin-bottom: 40px;
}
header .wrapper .header_main .info button span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .wrapper .header_main .info button span img {
  transition: 0.5s;
  width: 40%;
  height: 40%;
}
header .wrapper .header_main .info button:hover span img {
  transform: translate(10px);
}
header .wrapper .header_main object {
  width: 45%;
}
@keyframes anim {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(10px);
  }
  100% {
    transform: translate(0px);
  }
}
section#achievements {
  background: #0D0D2B;
  padding: 115px 0px 0px;
}
section#achievements .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section#achievements .wrapper .achievement {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section#achievements .wrapper .achievement .container {
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  position: relative;
}
section#achievements .wrapper .achievement .container img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section#achievements .wrapper .achievement .info {
  width: 70%;
  margin-left: 30px;
}
section#achievements .wrapper .achievement .info h5 {
  font-family: Rubik-Bold;
  font-size: 24px;
  color: white;
}
section#achievements .wrapper .achievement .info h4 {
  font-family: Rubik-Bold;
  font-size: 40px;
  color: white;
}
section#achievements .wrapper .achievement .info p {
  margin-top: 20px;
  font-size: 16px;
  font-family: Rubik;
  color: white;
}
section#masternodes {
  position: relative;
  background: #0D0D2B;
  padding-top: 100px;
}
section#masternodes img.bg_img.circle {
  right: 0;
  top: 0;
}
section#masternodes img.bg_img.bubble {
  right: 0;
  bottom: 0;
}
section#masternodes img.bg_img.line {
  top: 10%;
}
section#masternodes .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section#masternodes .wrapper object {
  width: 49.5%;
}
section#masternodes .wrapper .info {
  width: 40%;
  color: white;
}
section#masternodes .wrapper .info h2 {
  line-height: 150%;
  font-family: Rubik-Bold;
  font-size: 40px;
  margin-bottom: 30px;
}
section#masternodes .wrapper .info p {
  font-family: Rubik;
  font-size: 16px;
  line-height: 200%;
  margin-bottom: 40px;
}
section#reward {
  padding-top: 100px;
  background: #0D0D2B;
  position: relative;
}
section#reward .bg_img.circle {
  right: 0px;
}
section#reward .bg_img.arc {
  left: 0;
  top: 30%;
  transform: rotate(-30deg);
}
section#reward .wrapper {
  color: white;
  text-align: center;
}
section#reward .wrapper .description h2 {
  font-size: 40px;
  margin-bottom: 30px;
  font-family: Rubik-Bold;
}
section#reward .wrapper .description p {
  font-size: 16px;
  margin-bottom: 30px;
  font-family: Rubik;
}
section#reward .wrapper .description p b {
  color: #F9AA4B;
}
section#reward .wrapper div.table {
  width: 100%;
  display: flex;
  flex-direction: column;
}
section#reward .wrapper div.table .row {
  width: 100%;
  font-family: Rubik;
  font-size: 16px;
  padding: 15px 0px;
  border-bottom: 1px solid white;
}
section#reward .wrapper div.table .row.header {
  font-family: Rubik-Bold;
  font-size: 20px;
}
section#reward .wrapper div.table .row.current {
  color: #F9AA4B;
}
section#reward .wrapper div.table .row ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}
section#reward .wrapper div.table .row ul li {
  flex-basis: 14.25%;
}
section#exchange {
  position: relative;
  background: #0D0D2B;
  padding-top: 100px;
}
section#exchange img.bg_img.line {
  bottom: 0;
  right: 0;
}
section#exchange .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section#exchange .wrapper object {
  width: 49.5%;
}
section#exchange .wrapper .info {
  width: 40%;
  color: white;
}
section#exchange .wrapper .info h2 {
  line-height: 150%;
  font-family: Rubik-Bold;
  font-size: 40px;
  margin-bottom: 30px;
}
section#exchange .wrapper .info p {
  font-family: Rubik;
  font-size: 16px;
  line-height: 200%;
  margin-bottom: 40px;
}
section#exchange .wrapper .info p b {
  color: #F9AA4B;
}
section#specification {
  padding-top: 100px;
  background: #0D0D2B;
  position: relative;
  overflow: hidden;
}
section#specification.disabled .wrapper .table {
  max-height: 320px;
  overflow: hidden;
}
section#specification.disabled .wrapper .table .limiter {
  cursor: pointer;
  padding-bottom: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), transparent);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
section#specification.disabled .wrapper .table .limiter p {
  color: #F9AA4B;
  font-size: 18px;
  font-family: Rubik;
}
section#specification.disabled .wrapper .table .limiter img {
  margin-top: 5px;
  width: 15px;
  height: 15px;
}
section#specification .bg_img.line {
  transform: translate(-90deg);
  top: 60%;
  right: -20%;
}
section#specification .bg_img.arc {
  left: 0;
  top: 20%;
  transform: rotate(10deg);
}
section#specification .wrapper {
  color: white;
  text-align: center;
}
section#specification .wrapper .description h2 {
  font-size: 40px;
  margin-bottom: 30px;
  font-family: Rubik-Bold;
}
section#specification .wrapper .description p {
  font-size: 16px;
  margin-bottom: 30px;
  font-family: Rubik;
}
section#specification .wrapper .description p b {
  color: #F9AA4B;
}
section#specification .wrapper div.table {
  position: relative;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  max-height: 5000px;
  transition: max-height 3s ease-out;
}
section#specification .wrapper div.table .limiter {
  display: none;
}
section#specification .wrapper div.table .row {
  width: 100%;
  font-family: Rubik;
  font-size: 20px;
  padding: 15px 0px;
  border-bottom: 1px solid white;
}
section#specification .wrapper div.table .row.presub {
  padding-bottom: 15px;
  border-bottom: none;
}
section#specification .wrapper div.table .row.sub {
  border-bottom: none;
  padding-top: 0px;
  padding-bottom: 10px;
}
section#specification .wrapper div.table .row.sub li {
  font-size: 18px;
}
section#specification .wrapper div.table .row.sub li:first-child {
  padding-left: 5%;
}
section#specification .wrapper div.table .row.sub.lastsub {
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}
section#specification .wrapper div.table .row.header {
  font-family: Rubik-Bold;
  font-size: 20px;
}
section#specification .wrapper div.table .row ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}
section#specification .wrapper div.table .row ul li:first-child {
  font-family: Rubik-Medium;
  text-align: left;
  flex-basis: 45%;
}
section#specification .wrapper div.table .row ul li:last-child {
  text-align: right;
  flex-basis: 55%;
}
section#specification .wrapper div.table .row ul li:last-child p {
  font-size: 18px;
  margin-top: 10px;
}
footer {
  padding: 165px 0px 65px;
  background: #0D0D2B;
}
footer .wrapper .main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
footer .wrapper .main div {
  flex-basis: 15%;
}
footer .wrapper .main div h5 {
  font-family: Rubik-Medium;
  font-size: 20px;
  color: white;
  margin-bottom: 35px;
}
footer .wrapper .main div nav {
  display: flex;
  flex-direction: column;
}
footer .wrapper .main div nav a {
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Rubik;
}
footer .wrapper .main .logo {
  margin-top: -12px;
  display: flex;
  align-items: center;
}
footer .wrapper .main .logo object {
  width: 45px;
  height: 45px;
  margin-right: 20px;
}
footer .wrapper .main .logo p {
  font-size: 18px;
  letter-spacing: 8px;
  color: white;
  text-transform: uppercase;
  font-family: Inter;
}
footer .wrapper p.copyright {
  margin-top: 100px;
  font-family: Rubik;
  font-size: 16px;
  color: white;
}
