@font-face {
    font-family: Inter; /* Имя шрифта */
    src: url(../fonts/Inter-SemiBold.ttf); /* Путь к файлу со шрифтом */
    font-weight: 500;
}

@font-face {
    font-family: Rubik; /* Имя шрифта */
    src: url(../fonts/Rubik-Regular.ttf); /* Путь к файлу со шрифтом */
    font-weight: bold;
}

@font-face {
    font-family: Rubik-Medium; /* Имя шрифта */
    src: url(../fonts/Rubik-Medium.ttf); /* Путь к файлу со шрифтом */
    font-weight: 900;
}

@font-face {
    font-family: Rubik-Bold; /* Имя шрифта */
    src: url(../fonts/Rubik-Bold.ttf); /* Путь к файлу со шрифтом */
    font-weight: bold;
}

/* Header appear animations */
/*
@keyframes logo_appear_animation {
    0% {
        transform: translate(-500px);
    }
    100% {
        transform: translate(0px);
    }
}

@keyframes nav_appear_animation {
    0% {
        transform: translate(500px);
    }
    100% {
        transform: translate(0px);
    }
}

@keyframes info_appear_animation {
    0% {
        
        transform: rotateY(-90deg)
    }
    100% {
        transform: rotateY(0deg)
    }
}

@keyframes illustration_appear_animation {
    0% {
        
        transform: translateY(500px)
    }
    100% {
        transform: translateY(0px)
    }
}
*/
@darkBg: #0D0D2B;
@buttonBlue: #3671E9;
@highliting_orange: #F9AA4B;

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

b {
    font-family: Rubik-Bold;
}

img {
    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

img.bg_img {
    z-index: 2;
    position: absolute;
}

.wrapper {
    width: 83.333%;
    margin: 0 auto;
    position: relative;
}

a {
    transition: .5s;
    color: white;
    text-decoration: none;
    &:hover {
        color: @highliting_orange
    }
}

button {
    border-radius: 32px;
    border: none;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 65px;
    background-color: @buttonBlue;
    color: white;
    font-family: Rubik-Medium;
    font-size: 18px;
    cursor: pointer;
    transition: .5s;
    &:hover {
        background-color: darken(@buttonBlue, 15%);
    }
}

header {
    width: 100%;
    background: @darkBg;
    padding: 70px 0px 0px;
    img.bg_img {
        position: absolute;
        &.right_line {
            right: 0;
            top: 60%;
        }
        &.left_line {
            right: 10%;
            top: 40%;
        }
    }
    .wrapper {
        .top_panel {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5%;
            .logo {
                //animation: logo_appear_animation .5s ease-out;
                display: flex;
                align-items: center;
                object {
                    width: 55px;
                    height: 55px;
                    margin-right: 20px;
                }
                p {
                    font-size: 20px;
                    letter-spacing: 8px;
                    color: white;
                    text-transform: uppercase;
                    font-family: Inter;
                    
                }
            }
            nav {
                //animation: nav_appear_animation .5s ease-in-out;
                width: 55%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                a {
                    font-size: 16px;
                    font-family: Rubik;
                    text-transform: capitalize;
                }
            }
        }
        .header_main {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .info {
                //perspective: 300px;
                //transform-style: flat;
                //animation: info_appear_animation .5s ease-in-out;
                width: 45%;
                h2 {
                    font-family: Rubik-Bold;
                    font-size: 4vw;
                    color: white;
                    line-height: 5vw;
                    margin-bottom: 50px;
                }
                p {
                    margin-top: 20px;
                    max-width: 435px;
                    font-family: Rubik;
                    font-size: 1.05vw;
                    color: white;
                    line-height: 28px;
                    margin-bottom: 40px;
                }
                button {
                    span {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        margin-left: 10px;
                        background: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            transition: .5s;
                            width: 40%;
                            height: 40%;
                        }
                    }
                    &:hover {
                        span {
                            img {
                                transform: translate(10px);
                            }
                        }
                    }
                }
            }
            img {
                width: 45%;
                //animation: illustration_appear_animation .5s ease-in-out;
            }   
        }
    }
}

@keyframes anim {
    0% {
        transform: translate(0px);
    }
    50% {
        transform: translate(10px);
    }
    100% {
        transform: translate(0px);
    }
}

section#achievements {
    background: @darkBg;
    padding: 115px 0px 0px;
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .achievement {
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .container {
                width: 80px;
                height: 80px;
                background: rgba(256, 256, 256, 0.1);
                border-radius: 50%;
                position: relative;
                img {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .info {
                width: 70%;
                margin-left: 30px;
                h5 {
                    font-family: Rubik-Bold;
                    font-size: 24px;
                    color: white;
                }
                h4 {
                    font-family: Rubik-Bold;
                    font-size: 40px;
                    color: white;
                }
                p {
                    margin-top: 20px;
                    font-size: 16px;
                    font-family: Rubik;
                    color: white;
                }
            }
        }
    }
}

section#masternodes {
    position: relative;
    background: @darkBg;
    padding-top: 100px;
    img.bg_img {
        &.circle {
            right: 0;
            top: 0;
        }
        &.bubble {
            right: 0;
            bottom: 0;
        }
        &.line {
            top: 10%;
        }
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        object {
            width: 49.5%;
        }
        .info {
            width: 40%;
            color: white;
            h2 {
                line-height: 150%;
                font-family: Rubik-Bold;
                font-size: 40px;
                margin-bottom: 30px;
            }
            p {
                font-family: Rubik;
                font-size: 16px;
                line-height: 200%;
                margin-bottom: 40px;
            }
        }
    }
}
/*
@keyframes table_animation_odd {
    0% {
        transform: translate(-500px);
    }
    100% {
        transform: translate(0px);
    }
}

@keyframes table_animation_even {
    0% {
        transform: translate(500px);
    }
    100% {
        transform: translate(0px);
    }
}
*/

section#reward {
    padding-top: 100px;
    background: @darkBg;
    position: relative;
    .bg_img.circle {
        right: 0px;
    }
    .bg_img.arc {
        left: 0;
        top: 30%;
        transform: rotate(-30deg);
    }
    .wrapper {
        color: white;
        text-align: center;
        .description {
            h2 {
                font-size: 40px;
                margin-bottom: 30px;
                font-family: Rubik-Bold;
            }
            p {
                font-size: 16px;
                margin-bottom: 30px;
                font-family: Rubik;
                b {
                    color: @highliting_orange;
                }
            }
        }
        div.table {
            width: 100%;
            display: flex;
            flex-direction: column;
            .row {
                width: 100%;
                font-family: Rubik;
                font-size: 16px;
                padding: 15px 0px;
                border-bottom: 1px solid white;
                &.header {
                    font-family: Rubik-Bold;
                    font-size: 20px;
                }
                &.current {
                    color: @highliting_orange;
                }
                ul {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    justify-content: space-between;
                    li {
                        flex-basis: 14.25%;
                    }
                }
            }
        }
    }
}

section#exchange {
    position: relative;
    background: @darkBg;
    padding-top: 100px;
    img.bg_img {
        &.line {
            bottom: 0;
            right: 0;
        }
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        object {
            width: 49.5%;
        }
        .info {
            width: 40%;
            color: white;
            h2 {
                line-height: 150%;
                font-family: Rubik-Bold;
                font-size: 40px;
                margin-bottom: 30px;
            }
            p {
                font-family: Rubik;
                font-size: 16px;
                line-height: 200%;
                margin-bottom: 40px;
                b {
                    color: @highliting_orange;
                }
            }
        }
    }
}

@keyframes see_full_data {
    0% {
        img {
            transform: translateY(0px);
        }
    }
    100% {
        img {
            transform: translateY(5px);
        }
    }
}

section#specification {
    padding-top: 100px;
    background: @darkBg;
    position: relative;
    overflow: hidden;
    &.disabled {
        .wrapper {
            .table {
                max-height: 320px;
                overflow: hidden;
                .limiter {
                    cursor: pointer;
                    padding-bottom: 5px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100px;
                    background: linear-gradient(0deg, rgba(256, 256, 256, 0.5), transparent);
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    &:hover {
                        p {
                            transform: translateY(-5px);
                        }
                        img {
                            transform: translateY(5px);
                        }
                    }
                    p {
                        transition: .5s;
                        color: @highliting_orange;
                        font-size: 18px;
                        font-family: Rubik;
                    }
                    img {
                        margin-top: 2px;
                        width: 15px;
                        height: 15px;
                        transition: .5s;
                    }
                }
            }
        }
    }
    .bg_img.line {
        transform: translate(-90deg);
        top: 60%;
        right: -20%;
    }
    .bg_img.arc {
        left: 0;
        top: 20%;
        transform: rotate(10deg);
    }
    .wrapper {
        color: white;
        text-align: center;
        .description {
            h2 {
                font-size: 40px;
                margin-bottom: 30px;
                font-family: Rubik-Bold;
            }
            p {
                font-size: 16px;
                margin-bottom: 30px;
                font-family: Rubik;
                b {
                    color: @highliting_orange;
                }
            }
        }
        div.table {
            position: relative;
            margin: 0 auto;
            width: 95%;
            display: flex;
            flex-direction: column;
            transition: .5s;
            max-height: 5000px;
            transition: max-height 3s ease-out;
            .limiter {
                display: none;
            }
            ul {
                font-family: Rubik;
                font-size: 20px;
                padding: 15px 0px;
                border-bottom: 1px solid white;
                &.presub {
                    padding-bottom: 15px;
                    border-bottom: none;
                }
                &.sub {
                    border-bottom: none;
                    padding-top: 0px;
                    padding-bottom: 10px;
                    li {
                        font-size: 18px;
                        &:first-child {
                            padding-left: 5%;
                        }
                    }
                    &.lastsub {
                        border-bottom: 1px solid white;
                        padding-bottom: 15px;
                    }
                }
                &.header {
                    font-family: Rubik-Bold;
                    font-size: 20px;
                }
                width: 100%;
                display: flex;
                flex-direction: row;
                list-style: none;
                justify-content: space-between;
                li:first-child {
                    padding-left: 5px;
                    font-family: Rubik-Medium;
                    text-align: left;
                    flex-basis: 45%;
                }
                li:last-child {
                    padding-right: 5px;
                    text-align: right;
                    flex-basis: 55%;
                    p {
                        font-size: 18px;
                        margin-top: 10px;
                    }
                }
            } 
        }
    }
}

footer {
    padding: 165px 0px 65px;
    background: @darkBg;
    .wrapper {
        .main {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: flex-start;
            div {
                flex-basis: 15%;
                h5 {
                    font-family: Rubik-Medium;
                    font-size: 20px;
                    color: white;
                    margin-bottom: 35px;
                }
                nav {
                    display: flex;
                    flex-direction: column;
                    a {
                        margin-bottom: 20px;
                        font-size: 16px;
                        font-family: Rubik;
                    }
                }
            }
            .logo {
                margin-top: -12px;
                display: flex;
                align-items: center;
                object {
                    width: 45px;
                    height: 45px;
                    margin-right: 20px;
                }
                p {
                    font-size: 18px;
                    letter-spacing: 8px;
                    color: white;
                    text-transform: uppercase;
                    font-family: Inter;
                    
                }
            }
        }
        p.copyright {
            margin-top: 100px;
            font-family: Rubik;
            font-size: 16px;
            color: white;
        }
    }
}